@model Rocosa_Modelos.ViewModels.ProductoVM
@using Rocosa_Utilidades

@{
    var titulo = "Crear Nuevo Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    @if (Model.Producto.Id != 0)
    {
        titulo = "Editar Producto";
        <input asp-for="Producto.Id" hidden />
    }

    <div class="border p-4 rounded bg-light">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <div class="mb-3">
            <h2 class="text-info">@titulo</h2>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="container">
                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <label asp-for="Producto.NombreProducto" class="form-label">Nombre Producto</label>
                            <input asp-for="Producto.NombreProducto" class="form-control" />
                            <span asp-validation-for="Producto.NombreProducto" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <label asp-for="Producto.Precio" class="form-label">Precio</label>
                            <input asp-for="Producto.Precio" class="form-control" />
                            <span asp-validation-for="Producto.Precio" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <label asp-for="Producto.DescripcionCorta" class="form-label">Descripcion Corta</label>
                            <input asp-for="Producto.DescripcionCorta" class="form-control" />
                            <span asp-validation-for="Producto.DescripcionCorta" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <label asp-for="Producto.DescripcionProducto" class="form-label">Descripcion del Producto</label>
                            <textarea asp-for="Producto.DescripcionProducto" class="form-control"></textarea>
                            <span asp-validation-for="Producto.DescripcionProducto" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <label asp-for="Producto.ImagenUrl" class="form-label">Imagen</label>
                            <input type="file" name="files" id="imagenId" class="form-control" />
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <label asp-for="Producto.CategoriaId" class="form-label">Categoria</label>
                            <select asp-for="Producto.CategoriaId" asp-items="@Model.CategoriaLista" class="form-select">
                                <option disabled selected>--Seleccione una Categoria</option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <label asp-for="Producto.TipoAplicacionId" class="form-label">Tipo Aplicacion</label>
                            <select asp-for="Producto.TipoAplicacionId" asp-items="@Model.TipoAplicacionLista" class="form-select">
                                <option disabled selected>--Seleccione un Tipo</option>
                            </select>
                        </div>
                    </div>

                    <div class="d-grid gap-2 d-md-block mt-3">
                        @if (Model.Producto.Id != 0)
                        {
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                        }
                        else
                        {
                            <a asp-controller="Producto" asp-action="Index" class="btn btn-secondary">Regresar</a>
                            <button type="submit" onclick="return validarImagen()" class="btn btn-primary">Crear Nuevo</button>
                        }
                    </div>
                </div>
            </div>

            <div class="col-md-4" id="vistaPreviaDiv" style="display: none;">
                <div class="mb-3">
                    <label for="imagenId" class="form-label">Vista previa de la imagen</label>
                    <img id="imagenPreview" src="#" alt="Vista previa de la imagen" class="img-fluid rounded border">
                </div>
            </div>

        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250
            });

            $("#imagenId").change(function () {
                readURL(this);
            });

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#imagenPreview').attr('src', e.target.result);
                        // Muestra el div de vista previa si hay una imagen seleccionada
                        $('#vistaPreviaDiv').show();
                    };

                    reader.readAsDataURL(input.files[0]);
                } else {
                    // Oculta el div de vista previa si no hay una imagen seleccionada
                    $('#vistaPreviaDiv').hide();
                }
            }
        });

        function validarImagen() {
            if (document.getElementById("imagenId").value == "") {
                swal("Error", "Seleccione una Imagen!", "error");
                return false;
            }
            return true;
        }
    </script>
}
